<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros - Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Livros">Projeto Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Livros/novo">Novo Livro</a>
                </li>
            </ul>
            <form th:action="@{/Livros}" method="get" class="d-flex gap-2 mb-3" style="max-width: 600px;">
                <select name="buscarPor" class="form-select" style="max-width: 100px; height: 38px">
                    <option value="titulo" th:selected="${buscarPor == 'titulo'}">Título</option>
                    <option value="autor" th:selected="${buscarPor == 'autor'}">Autor</option>
                </select>
                <input type="search" name="termo" style="max-width: 400px; height: 38px" class="form-control" placeholder="Digite para buscar..."
                       th:value="${termo}" aria-label="Buscar livro" />
                <button type="submit" style="height: 38px" class="btn btn-outline-primary">
                    🔍
                </button>
                <a th:if="${termo != null && !termo.isEmpty()}" th:href="@{/Livros}" class="btn btn-outline-danger">
                    Limpar
                </a>
            </form>
        </div>
    </div>
</nav>

<div th:if="${msgErro}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${msgErro}"></span>

    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Fechar">
    </button>
</div>

<div class="container mt-4">
    <h1 th:text="${livro.id} != null ? 'Editar Livro' : 'Novo Livro'"></h1>
    <!-- Formulário Novo Cliente (Parte 2) -->
    <!-- Formulário Editar Cliente (Parte 3) -->

    <form th:if="${livro.id == null}" th:action="@{/Livros}"
          method="post" th:object="${livro}"
          enctype="multipart/form-data">
        <div class="row mb-3">
            <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="isbn" th:field="*{isbn}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="titulo" class="col-sm-2 col-form-label">Título</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titulo" th:field="*{titulo}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="autor" class="col-sm-2 col-form-label">Autor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="autor" th:field="*{autor}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="edicao" class="col-sm-2 col-form-label">Edição</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="edicao" th:field="*{edicao}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('edicao')}" th:errors="*{edicao}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="ano" class="col-sm-2 col-form-label">Ano</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="ano" th:field="*{ano}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="exemplar" class="col-sm-2 col-form-label">Exemplar</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="exemplar"th:field="*{exemplar}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('exemplar')}" th:errors="*{exemplar}"></div>
            </div>
        </div>
        <div class="mb-3">
            <label for="arquivo" class="form-label">Imagem da Capa</label>
            <input class="form-control" type="file" id="arquivo" name="arquivo" accept="image/*"/>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a th:href="@{/Livros}" class="btn btn-secondary"> Cancelar </a>
    </form>

    <form th:if="${livro.id} != null"
          th:action="@{/Livros/{id}(id=${livro.id})}" method="post"
          th:object="${livro}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />

        <input type="hidden" name="_method" value="put"/>
        <div class="row mb-3">
            <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{isbn}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="titulo" class="col-sm-2 col-form-label">Título</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{titulo}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="autor" class="col-sm-2 col-form-label">Autor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{autor}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="edicao" class="col-sm-2 col-form-label">Edição</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{edicao}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('edicao')}" th:errors="*{edicao}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="ano" class="col-sm-2 col-form-label">Ano</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{ano}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="exemplar" class="col-sm-2 col-form-label">Exemplar</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{exemplar}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('exemplar')}" th:errors="*{exemplar}"></div>
            </div>
        </div>
        <div class="mb-3">
            <label for="arquivoAtualizado" class="form-label">Imagem da Capa</label>
            <input class="form-control" type="file" id="arquivoAtualizado" name="arquivoAtualizado" accept="image/*"/>
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
        <a th:href="@{/Livros}" class="btn btn-secondary"> Cancelar </a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
